:root{
  /* light theme */
  --bg: #ffffff;
  --card: #f7f7f8;
  --text: #0f1720;
  --muted: #6b7280;
  --primary: #ef4444;
  --primary-contrast: #ffffff;
  --input-bg: #ffffff;
  --border: #e6e7ea;
}

@media (prefers-color-scheme: dark){
  :root{
    --bg: #0b1220;
    --card: #0f1724;
    --text: #e6eef8;
    --muted: #98a0b0;
    --primary: #fb923c;
    --primary-contrast: #0b1220;
    --input-bg: #0b1224;
    --border: #1c2430;
  }
}
